<?xml version="1.0"?>
<robot name="EchoBot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find echo_bot_description)/urdf/common.xacro"/>

  <!-- == footprint frame == -->
  <link name="base_footprint"/>
  <joint name="base_footprint_to_Body" type="fixed">
    <origin xyz="0 0 0.090"/>
    <parent link="base_footprint"/>
    <child link="Body"/>
  </joint>

  <!-- == Body == -->
  <xacro:include filename="$(find echo_bot_description)/urdf/EchoBot_body.urdf.xacro"/>

  <!-- == left_leg == -->
  <xacro:include filename="$(find echo_bot_description)/urdf/EchoBot_left_leg.urdf.xacro"/>

  <!-- == right_leg == -->
  <!-- <xacro:include filename="$(find echo_bot_description)/urdf/EchoBot_right_leg.urdf.xacro"/> -->

</robot>