<?xml version="1.0"?>
<robot name="echo_bot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find echo_bot_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/base/echo_bot_base.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/leg/echo_bot_left_leg.urdf.xacro"/>
  <xacro:include filename="$(find echo_bot_description)/urdf/wheel/echo_bot_wheel.urdf.xacro"/>

  <!-- == echo_bot base == -->
  <link name="base_footprint"/>
  <xacro:base_v0 parent="base_footprint">
  <origin xyz="0 0 0.090"/>
  </xacro:base_v0>

  <!-- == left_leg == -->
  <xacro:leg_v0 parent="base_link" prefix="left">
    <origin xyz="0.0 0.0475 0.0" rpy="0.0 ${M_PI*160/180} 0.0"/>
  </xacro:leg_v0>
  <xacro:leg_trans_v0 prefix="left"/>

  <!-- == right_leg == -->
  <xacro:leg_v0 parent="base_link" prefix="right">
    <origin xyz="0.0 -0.0475 0.0" rpy="0.0 ${M_PI*160/180} 0.0"/>
  </xacro:leg_v0>
  <xacro:leg_trans_v0 prefix="right"/>

  <!-- == left_wheel == -->
  <xacro:wheel_v0 prefix="left" parent="lower_leg_left">
    <origin xyz="0.1 0.0305 0.0" rpy="${-M_PI/2} 0.0 ${M_PI}"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>
  <xacro:wheel_trans_v0 prefix="left"/>

  <!-- == right_wheel == -->
  <xacro:wheel_v0 prefix="right" parent="lower_leg_right">
    <origin xyz="0.1 -0.0305 0.0" rpy="${-M_PI/2} 0.0 0.0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel_v0>
  <xacro:wheel_trans_v0 prefix="right"/>

  <!-- == Sensor == -->

  <!-- == Gazebo == -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>echo_bot</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

  <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
    <jointName>upper_leg_left_joint, upper_leg_right_joint, wheel_left_joint, wheel_right_joint</jointName>
  </plugin>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <!-- leg -->
  <xacro:leg_gazebo_v0 prefix="left"/>
  <xacro:leg_gazebo_v0 prefix="right"/>

  <gazebo>
    <plugin name="left_leg_ClosedLoopPlugin" filename="libpegasus_gazebo_closed_loop_plugin.so">
      <joint>base_back_joint</joint>
      <child>side_leg_left</child>
      <parent>upper_side_leg_left</parent>
      <position>0.1 0.0 0.0</position>
      <rotation>0.00 -0.00 0.00</rotation>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="right_leg_ClosedLoopPlugin" filename="libpegasus_gazebo_closed_loop_plugin.so">
      <joint>base_back_joint</joint>
      <child>side_leg_right</child>
      <parent>upper_side_leg_right</parent>
      <position>0.1 0.0 0.0</position>
      <rotation>0.00 -0.00 0.00</rotation>
    </plugin>
  </gazebo>

  <!-- Wheel -->
  <xacro:wheel_gazebo_v0 prefix="left"/>
  <xacro:wheel_gazebo_v0 prefix="right"/>
  
</robot>
