<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- == Material == -->
  <material name="torso_color">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>

  <xacro:include filename="$(find echo_bot_description)/urdf/torso/echo_bot_torso.gazebo.xacro"/>

  <xacro:macro name="torso_v0" params="parent *joint_origin">
    <link name="torso_link">
      <visual>
        <origin rpy="0 0 0"/>
        <material name="torso_color"/>
        <geometry>
          <mesh filename="package://echo_bot_description/meshes/DAE/torso.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://echo_bot_description/meshes/STL/torso.stl"/>
        </geometry>      
      </collision>
      <inertial>
        <mass value="2.915" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia  ixx="0.006" ixy="0.0" ixz="0.002"
                  iyy="0.008" iyz="0.0"
                  izz="0.009"/>
      </inertial>
    </link>

    <joint name="base_link_joint" type="fixed">
      <insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="torso_link"/>
    </joint>

  </xacro:macro>

</robot>